<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] %c{2.} : %m%n%ex" />
		</Console>
		
		<RollingFile name="FileAppender" fileName="logs/log4j2-demo1.log" filePattern="logs/log4j2-demo-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] %c{2.} : %m%n%ex"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
		
	</Appenders>
	
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>